.body-content {
    padding: 0;
}

html {
    font-size: 18px;
}

.header {
    padding-top: 25px;
    height: 400px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a9de32), color-stop(50%, #76df5c), color-stop(100%, #59df76), color-stop(100%, #36e096), color-stop(100%, #59df76));
}

    .header .figure {
        position: relative;
        width: 350px;
        height: 350px;
        text-align: center;
        background: #fff;
        border-radius: 175px;
    }

        .header .figure .inner {
            margin: 10px;
            width: 330px;
            height: 330px;
            border: 10px solid #76df5c;
            border-radius: 165px;
        }

            .header .figure .inner .picture {
                margin: 0;
                background-size: 320px;
                background-image: url(//images.gogoroapp.com/my-gogoro/profile_pic_default.jpg);
                width: 310px;
                height: 310px;
                border-radius: 155px;
            }

                .header .figure .inner .picture .photo-edit-link {
                    display: block;
                    position: absolute;
                    background-color: #888;
                    padding-top: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    bottom: 35px;
                    left: 151px;
                }

                    .header .figure .inner .picture .photo-edit-link img {
                        width: 45px;
                    }
