@{
    ViewBag.Title = "shopcarlist";
    var ShoppingList = (List<List<string>>)Session["shoppingCartViewModel"];
}

<div class="container">
    <div class="d-flex ">
        <h1>1.我的購物清單</h1>

    </div>
    <table class="table border " id="shoplist">
        <thead>
            <tr>
                <th scope="col">
                    <h1>@ShoppingList[0][0]</h1>
                    訂單總額
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 1; i < ShoppingList.Count(); i++) {
                @Html.Partial("BillPagePartialView",i)
            }
            <tr>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col">
                    <ul class="list-unstyled">
                        <li>
                            <h4 class="font-weight-bold">商品金額</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-bold">運費(滿590免運)</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-bold text-primary">折扣</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-bold">訂單總額</h4>
                        </li>
                    </ul>
                </td>
                <td scope="col">
                    <ul class="list-unstyled">
                        <li>
                            <h4 class="font-weight-bold">@ShoppingList[0][0]</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-bold">$0</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-bold text-primary">-$0</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-bold">@ShoppingList[0][0]</h4>
                        </li>
                    </ul>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="ml-auto">

    </div>

    <div>
        <h1>2.訂購資料</h1>
        <div>
            <input type="checkbox" name="vehicle" value="check1">
            我已閱讀並同意 Gogoro 個人資料蒐集、處理及利用同意書， Gogoro 網路商店條款<br>
            <input type="checkbox" name="vehicle" value="check2">
            我已於購買時瞭解本商品因機構、設計或特性等需求，須進行專業安裝，並另酌收安裝工資費；若非經專業安裝而導致商品無法正常使用或損壞，本公司概不負責或賠償。
        </div>
        <div>
            <br>
            <p class="font-weight-bold">購買人帳號:</p>

            <br>

            <i>洪佑昇, 09123456789, zxcv86294@gmail.com, 新竹市香山區五福路707號</i>
        </div>
        <div class="d-flex" style="margin-top:30px;">
            <div class="col-4">
                <p class="font-weight-bold">寄送資料</p>
                <div>
                    <input type="checkbox" name="vehicle" value="check3"> 同登入帳號
                </div>
            </div>
            @using (Html.BeginForm("BillPage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        <div class="col-8">
            <p class="font-weight-bold">取貨人姓名*</p>
            <input name="name" type="text" style="width:542px;height:40px;" placeholder="請輸入取貨人姓名">
            <p class="font-weight-bold">取貨人手機號碼*</p>
            <input name="cellphonenumber" type="text" style="width:542px;height:40px;" placeholder="請輸入取貨人手機號碼">
            <p class="font-weight-bold">取貨人電子郵件*</p>
            <input name="email" type="text" style="width:542px;height:40px;" placeholder="請輸入取貨人電子郵件">
            <p class="font-weight-bold">安裝門市*</p>
            <select name="storecity" id="" style="border-radius:10px;height: 40px;width: 100px;margin-right: 10px">
                <option value="0">&nbsp&nbsp&nbsp&nbsp縣/市</option>
                <option value="台北市">台北市</option>
                <option value="新北市">新北市</option>
                <option value="桃園市">桃園市</option>
                <option value="新竹市">新竹市</option>
            </select>
            <select name="storename" id="" style="border-radius:10px;height: 40px;width:170px;">
                <option value="0">請選擇門市</option>
                <option value="光華八德門市">光華八德門市</option>
                <option value="師大和平門市">師大和平門市</option>
                <option value="萬華中華門市">萬華中華門市</option>
                <option value="松山饒河門市">松山饒河門市</option>
                <option value="圓山承德門市">圓山承德門市</option>
                <option value="內湖民權服務中心">內湖民權服務中心</option>
            </select>
            <p class="font-weight-bold">車主姓名*</p>
            <input name="car_name" type="text" style="width:542px;height:40px;" placeholder="請輸入車主姓名">
            <p class="font-weight-bold">車牌號碼*</p>
            <input name="car_number" type="text" style="width:542px;height:40px;" placeholder="範例車牌號碼 ABC-1234">
            <input type="submit" class="btn btn-secondary" style="margin:10px 0" value="註冊">
        </div>
            }
        </div>

        <script>
            $("#hiddenshoplist").click(function () {
                $("#shoplist").toggle(200000);
            });
        </script>
        <script>
            $("#abc123").click(function () {
                $("#shoplist").toggle(200000);
            });
        </script>

