@{ 
    ViewBag.title = "最新優惠";
}
        <div class="bd-example" style="font-family: 'Noto Sans TC', sans-serif;">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://promotion.gogoro.com/uploads/promotions/11-cover-photo-bd330f2282985db7717020209b5aad0c6b3e0574.jpg?1557903652" class="d-md-block" alt="..." style="height:800px;margin: auto;">
                        <div class="position-absolute" style="bottom: 20%; left: 10%; color: #fff;">
                            <button type="button" class="btn btn-dark mt-3"
                                    style="width: 150px; height: 60px; border-radius: 30px;">
                                了解更多
                            </button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://promotion.gogoro.com/uploads/heroes/11-large-image-dae513ca4efd729593c551419ce6f767d45cac69.png?1546404856" class="d-md-block" alt="..." style="height:800px">
                        <div class="position-absolute" style="bottom: 20%; left: 10%; color: #fff;">
                            <button type="button" class="btn btn-dark mt-3"
                                    style="width: 150px; height: 60px; border-radius: 30px;">
                                了解更多
                            </button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://promotion.gogoro.com/uploads/heroes/17-large-image-dec67d351a49ddfabb99eb6b5aef86c49d793173.jpg?1564559365" class="d-block" alt="..." style="height:800px;">
                        <div class="position-absolute" style="bottom: 20%; left: 10%; color: #fff;">
                            <button type="button" class="btn btn-dark mt-3"
                                    style="width: 150px; height: 60px; border-radius: 30px;">
                                了解更多
                            </button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/image/Store014.jpg" class="d-md-block" alt="..." style="height:800px;">
                        <div class="position-absolute" style="bottom: 20%; left: 10%; color: #fff;">
                            <button type="button" class="btn btn-dark mt-3"
                                    style="width: 150px; height: 60px; border-radius: 30px;">
                                了解更多
                            </button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/image/Store015.png" class="d-md-block" alt="..." style="height:800px;">
                        <div class="position-absolute" style="bottom: 15%; left: 10%; color: #fff;">
                            <button type="button" class="btn btn-dark mt-3"
                                    style="width: 150px; height: 60px; border-radius: 30px;">
                                了解更多
                            </button>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="container" style="font-family: 'Noto Sans TC', sans-serif;">
            <!-- <ul class="main-menu d-flex" style="list-style: none; align-items: center;">
            <li class="col-4" style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem;"><a href="" style="color: #000; text-decoration: none;">最新優惠</a></li>
            <li class="col-4" style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem;"><a href="" style="color: #000; text-decoration: none;">資費方案</a></li>
            <li class="col-4" style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem;"><a href="" style="color: #000; text-decoration: none;">政府補助</a></li>
        </ul> -->
            <ul class="main-menu nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item col-3"
                    style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem;">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home" aria-selected="true" style="color: #000; border-radius: 0;">最新優惠</a>
                </li>
                <li class="nav-item col-3"
                    style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem; border-radius: unset;">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-selected="false" style="color: #000; border-radius: 0;">政府補助</a>
                </li>
                <li class="nav-item col-3"
                    style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem; border-radius: unset;">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-contact" aria-selected="false" style="color: #000; border-radius: 0;">資費方案</a>
                </li>
                <li class="nav-item col-3"
                    style=" height: 100px; line-height:100px; text-align: center; font-size: 1.5rem; border-radius: unset;">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-page4" aria-selected="false" style="color: #000; border-radius: 0;">資費試算</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <!-- 最新優惠 -->
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="d-flex">
                        <img class="col-5 mt-3 mb-4" src="image/Store013.jpg" alt="">
                        <div class="mt-5">
                            <h3>【限時優惠，滿額再送】Gogoro車主夏日特典</h3>
                            <p>配件精省，充電無限，為你打造完美愛車</p>
                        </div>
                    </div>

                    <div class="d-flex">
                        <img class="col-5 mt-3 mb-4" src="image/Store015.png" alt="">
                        <div class="mt-5">

                            <h3>Gogoro聯名卡．購車24騎0利率獨家優惠</h3>
                            <p>
                                2019/05/05~2019/12/31，持Gogoro聯名卡至Gogoro實體門市及網路商店購車，不限車款皆享有24騎0利率！新卡友除了可享$799回饋金首刷禮外，每月的電池服務資費在享5%現金回饋！
                            </p>
                        </div>
                    </div>
                </div>


                <!-- 政府補助 -->
                <div class="tab-pane fade show" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div style="width: 480px; margin: 80px auto;">
                        <h1 class="text-center">新購車政府補助試算</h1>
                        <h6 class="text-center">請選擇車型及購買地區</h6>
                        <div class="d-flex flex-wrap justify-content-between">
                            <select class="col-12 mb-2" name="" style="height: 30px; border-radius: 30px;">
                                <option value="" disabled selected>請選擇車型</option>
                                <option value="Gogoro 3 Plus">Gogoro 3 Plus</option>
                                <option value="Gogoro 3">Gogoro 3</option>
                            </select>
                            <select name="" style="height: 30px; width: 185px; border-radius: 30px;">
                                <option value="" disabled selected>請選擇戶籍所在地</option>
                                <option value="">台北</option>
                                <option value="">新北</option>
                            </select>
                            <select name="" style="height: 30px; width: 285px; border-radius: 30px;">
                                <option value="" disabled selected>請選擇購車條件</option>
                                <option value="">新購電動機車</option>
                                <option value="">淘汰二行程並新購</option>
                            </select>
                        </div>
                        <table border="0" class="mt-5">
                            <tr>
                                <td style="width: 240px;">經濟部工業局補助</td>
                                <td style="width: 240px;"></td>
                            </tr>
                            <tr>
                                <td>行政院環保署補助</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>地方政府環保局補助</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>CBS連棟式煞車系統補助</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>建議售價</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>扣除補助後購車總金額</td>
                                <td></td>
                            </tr>
                        </table>
                        <p style="margin-top: 80px;color:#AAAAAA">
                            -
                            補助方案之相關具體資格及限制，包括但不限於申請方式、期限、名額等條件，須依中央或各地方政府公告之內容為準。例：CBS 連動式煞車系統補助資格僅適用於自然人申請。
                            -
                            所列之中央或各地方政府補助款金額，均以當年度最新公告之補助辦法、名額及金額為準，可能有隨時變動或名額用罄之情形。本網站雖將於中央及/或各地方政府發布相關資訊後，從速配合公告相關內容並更新對應之補助款金額，惟本網站並不保證更新之即時性。
                            - 補助款僅適用於中華民國國籍車主，並為第一次申請補助者。車主戶籍及車籍皆須設籍於欲申請補助之地方政府。
                            - 經工業局、環保署、各地方環保局與交通部審核通過之補助款項將直接匯入車主提供之帳戶。
                            -
                            本頁面僅供參考，詳細補助辦法請洽個政府單位網站查詢或直接聯繫各地方政府處理窗口。例：工業局補助進度查詢網址：https://www.lev.org.tw/subsidy/query.asp，各地方政府補助進度查詢網址：https://mobile.epa.gov.tw/LowPoll/index.aspx。
                            - 花東基金請另洽門市銷售人員。
                        </p>

                    </div>
                </div>

                <!-- 資費方案 -->
                <div class="tab-pane fade show" id="pills-contact" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div id="subscription">
                        <div class="container">
                            <h2 class="energy-plan-header text-center">電池服務資費方案</h2>

                            <div class="plan-wrapper">
                                <h2 class="plan-name">騎到飽方案</h2>
                                <ul class="package-list">
                                    <li class="package-item">
                                        <i class="infinity-icon"></i> <span class="package-description">不限次數電池交換</span>
                                    </li>
                                    <li class="package-item">
                                        <i class="battery-icon"></i> <span class="package-description">豁免電池遺失或損壞賠償*</span>
                                    </li>
                                </ul>
                                <table class="table energy-plan-table">
                                    <thead>
                                        <tr>
                                            <th>資費方案</th>
                                            <th colspan="3">騎到飽</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>方案條件</td>
                                        <td><span class="secondary-description">綁定 3 年</span></td>
                                        <td><span class="secondary-description">綁定 2 年</span></td>
                                        <td><span class="secondary-description">至少使用 3 個月</span></td>
                                    </tr>
                                    <tr>
                                        <td>每月優惠折扣</td>
                                        <td>
                                            <div class="impact-num">$300</div>
                                        </td>
                                        <td>
                                            <div class="impact-num">$200</div>
                                        </td>
                                        <td>
                                            <div class="secondary-description">無折扣</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>每月實付</td>
                                        <td>
                                            <div class="impact-num">$899</div>
                                        </td>
                                        <td>
                                            <div class="impact-num">$999</div>
                                        </td>
                                        <td>
                                            <div class="impact-num">$1,199</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="richblueTable">性能提升方案</td>
                                        <td><span class="impact-num">+$249</span></td>
                                        <td><span class="impact-num">+$249</span></td>
                                        <td><span class="impact-num">+$249</span></td>
                                    </tr>
                                </table>

                                <ol class="footnote" style="color: #AAAAAA;font-size:13px;">
                                    <li>
                                        Gogoro Network 對各資費方案及其所搭配之性能提升服務之申辦，擁有核准與否之最終決定權，Gogoro Network
                                        並保留隨時增刪、調整、暫停或取消資費方案及其所搭配之性能提升服務之內容及細節全部或一部之權利，無須另行個別通知。
                                    </li>
                                    <li>
                                        此表僅供 Gogoro 銷售人員說明使用，具體規定及限制仍依合約和資費方案選購文件 (Gogoro Network 應用程式電子 APP或訂購單選購單)
                                        之約定為準。
                                    </li>
                                    <li>
                                        騎到飽方案不含「定期回廠保養服務」。騎到飽方案享有「Gogoro Network™
                                        智慧電池賠償豁免方案」，其限制及除外條款等規定依電池服務合約為準。本方案不得作為商業使用，商業用途包括但不限於載貨(例：快遞 / 物流)，營利 (例：長租 /
                                        短租 / 載客) 等用途。
                                    </li>
                                    <li>
                                        如參加人之每月騎乘總里程數連續 2 個月均超過 1,600 公里時，將被推定為商業使用，Gogoro Network
                                        有權請求參加人提出非商業使用之相關證明文件，如無法提出相關證明文件或提出之證明文件無法證明其非商業使用時，Gogoro Network
                                        得將參加人移入商用資費方案。
                                    </li>
                                    <li>騎到飽方案之優惠依綁定長度而異，綁定期間不得行使電池服務合約第四條第二項之資費方案變更之權利，違者須給付違約金。</li>
                                    <li>
                                        電池服務合約若於騎到飽方案綁定期間内屆滿，電池服務合約自動延長至騎到飽方案綁定期間屆滿爲止。如選購騎到飽方案，車主應於綁定期間屆滿時，自當時 Gogoro
                                        Network 所提供之資費方案擇一認購。
                                    </li>
                                    <li>如未選擇將自動轉爲當時 Gogoro Network 所提供之騎到飽方案無折扣者，繼續認購電池服務。</li>
                                    <li>騎到飽綁定期間車主得依電池服務合約第八條之條件暫停電池服務，惟綁定期間不因暫停而延長。</li>
                                    <li>騎到飽方案不得轉讓於他人，若車主於騎到飽綁定期間將車輛買賣，讓與或過戶於他人導致電池服務合約終止，須給付違約金。</li>
                                    <li>騎到飽方案於綁定方案期間，車主可依當時 Gogoro Network 提供之騎到飽方案延長其綁定期間，不視爲違約。</li>
                                    <li>每月實付金額自通知延長後次月起生效。惟延長後若另有違約之情事，違約金則以延長後資費方案計算。</li>
                                    <li>若選購騎到飽方案而未綁定者，須使用三個月後始可變更資費方案。</li>
                                    <li>
                                        關於上述違約金計算：<br>騎到飽方案綁定2年者違約金以 $4,800 x ( 綁定期間剩餘天數 / 730天) 計算<br>騎到飽方案綁定3年者違約金以
                                        $10,800 x ( 綁定期間剩餘天數 / 1095天) 計算
                                    </li>
                                </ol>
                            </div>

                            <div class="plan-wrapper mt-5">
                                <h2 class="plan-name">預選里程方案</h2>
                                <ul class="package-list">
                                    <li class="package-item">
                                        <i class="infinity-icon"></i> <span class="package-description">不限次數電池交換</span>
                                    </li>
                                    <li class="package-item">
                                        <i class="battery-icon"></i> <span class="package-description">豁免電池遺失或損壞賠償*</span>
                                    </li>
                                </ul>
                                <table class="table energy-plan-table energy-plan-table--four-column">
                                    <thead>
                                        <tr>
                                            <th>資費方案</th>
                                            <th>預選里程105</th>
                                            <th>預選里程315</th>
                                            <th>預選里程630</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>服務月費</td>
                                        <td>
                                            <div class="impact-num">$299</div><span class="secondary-description">
                                                含
                                                <span class="blue-text">105</span> 公里騎乘里數
                                            </span>
                                        </td>
                                        <td>
                                            <div class="impact-num">$499</div><span class="secondary-description">
                                                含
                                                <span class="blue-text">315</span> 公里騎乘里數
                                            </span>
                                        </td>
                                        <td>
                                            <div class="impact-num">$799</div><span class="secondary-description">
                                                含
                                                <span class="blue-text">630</span> 公里騎乘里數
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>額外里程</td>
                                        <td>
                                            <span class="impact-num">$2.5</span> <span class="secondary-description">/公里</span>
                                        </td>
                                        <td>
                                            <span class="impact-num">$2.5</span> <span class="secondary-description">/公里</span>
                                        </td>
                                        <td>
                                            <span class="impact-num">$1.5</span> <span class="secondary-description">/公里</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>性能提升方案</td>
                                        <td><span class="impact-num">+$249</span></td>
                                        <td><span class="impact-num">+$249</span></td>
                                        <td><span class="impact-num">+$249</span></td>
                                    </tr>
                                </table>

                                <ol class="footnote" style="color: #AAAAAA;font-size:13px;">
                                    <li>
                                        Gogoro Network 對各資費方案及其所搭配之性能提升服務之申辦，擁有核准與否之最終決定權，Gogoro Network
                                        並保留隨時增刪、調整、暫停或取消資費方案及其所搭配之性能提升服務之內容及細節全部或一部之權利，無須另行個別通知。
                                    </li>
                                    <li>
                                        此表僅供 Gogoro 銷售人員說明使用，具體規定及限制仍依合約和資費方案選購文件 (Gogoro 應用程式電子 APP 或訂購單選購單) 之約定為準。
                                    </li>
                                    <li>預選里程系列方案享有「Gogoro Network™ 智慧電池賠償豁免方案」，其限制及除外條款等規定依電池服務合約為準。</li>
                                    <li>當月基本里程限於當月使用，當月結束前未使用之基本里程視同過期，不得挪於次月使用。</li>
                                    <li>本方案不得作為商業使用，商業用途包括但不限於快遞業、物流業、租賃業(長租 / 短租) 、客運載客服務、民宿業、餐飲外送服務等用途。</li>
                                    <li>
                                        如參加人之每月騎乘總里程數連續 2 個月均超過 1,600 公里時，將被推定為商業使用，Gogoro Network
                                        有權請求參加人提出非商業使用之相關證明文件，如無法提出相關證明文件或提出之證明文件無法證明其非商業使用時，Gogoro Network
                                        得將參加人移入商用資費方案並於提出證明文件後方可移出。
                                    </li>
                                </ol>
                            </div>

                            <div class="plan-wrapper" id="utility">
                                <h2 class="plan-name">​商用資費方案</h2>
                                <ul class="package-list">
                                    <li class="package-item">
                                        <i class="infinity-icon"></i> <span class="package-description">不限次數電池交換</span>
                                    </li>
                                </ul>
                                <table class="table energy-plan-table energy-plan-table--utility">
                                    <thead>
                                        <tr>
                                            <th>資費方案</th>
                                            <th>Gogoro 商用資費</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>服務月費</td>
                                        <td>
                                            <div class="impact-num">$799</div>
                                            <div class="secondary-description">
                                                含 <span class="blue-text">600</span>
                                                公里騎乘里數<br>不含保養
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>額外里程</td>
                                        <td>
                                            <span class="impact-num">600</span>公里 ~ <span class="impact-num">1,600</span>公里
                                            - <span class="impact-num">$1.5</span>/公里<br>
                                            <span class="impact-num">1,600</span>公里以上 - <span class="impact-num">$2.0</span>/公里<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>性能提升方案</td>
                                        <td><span class="impact-num">+$249</span></td>
                                    </tr>
                                </table>

                                <ol class="footnote">
                                    <li>
                                        Gogoro Network 對各資費方案及其所搭配之性能提升服務之申辦，擁有核准與否之最終決定權， Gogoro Network
                                        並保留隨時增刪、調整、暫停或取消資費方案及其所搭配之性能提升服務之內容及細節全部或一部之權利，無須另行個別通知。
                                    </li>
                                    <li>此表僅供 Gogoro 銷售人員說明使用，具體規定及限制仍依合約和資費方案選購文件 (Gogoro 應用程式或訂購單) 之約定為準。</li>
                                    <li>商用資費方案不含「定期回廠保養服務」。</li>
                                    <li>商用資費不含「Gogoro Network™ 智慧電池賠償豁免方案」。</li>
                                    <li>當月基本里程限於當月使用，當月結束前未使用之基本里程視同過期，不得挪於次月使用。</li>
                                    <li>惟 Gogoro 2 Utility 車款得選購此資費方案。</li>
                                </ol>
                            </div>


                        </div>
                    </div>

                </div>

                <!-- 資費試算 -->
                <div class="tab-pane fade show" id="pills-page4" role="tabpanel" aria-labelledby="pills-home-tab">

                </div>
            </div>

        </div>
