@model MotorcycleTW.ViewModel.ShoppingCartViewModel
@{
    var ShoppingList = (List<string>)Session["shoppingCartViewModel"];
    ViewBag.Title = "shopcar1";
}

<div class="container">
    <h1>我的購物車</h1>
    <table class="table border ">
        <thead>
            <tr>
                <th scope="col">
                    <h1>$8,640</h1>
                    訂單總額
                </th>
                <th scope="col"></th>
                <th scope="col">繼續選購</th>
                <th scope="col"><button type="button" class="btn btn-dark">結帳</button></th>
            </tr>
        </thead>
        @if(Session["shoppingCartViewModel"]!=null){
        <tbody>
            <tr style="height: 150px;">

                <td>
                    <img src="@ShoppingList[3]"
                         alt="" style="width: 150px;">
                </td>
                <td>
                    <h4 class="font-weight-bold" style="line-height: 150px;">@ShoppingList[1]</h4>
                </td>
                <td>
                    @using (Html.BeginForm("StorePage_Product", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <select id="member" name="arrays" style=" width:70px;border-radius:10px;" class="mt-5 " onchange="bbc()">
                            <option value="1後置物架＆行李箱組">1</option>
                            <option value="2後置物架＆行李箱組">2</option>
                            <option value="3後置物架＆行李箱組">3</option>
                            <option value="4後置物架＆行李箱組">4</option>
                            <option value="5後置物架＆行李箱組">5</option>
                        </select>
                    }
                </td>
                <td>
                    <h5 class="product_price" style="line-height: 130px;">$@ShoppingList[2]</h5>
                </td>
            </tr>

            <tr>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col">
                    <ul class="list-unstyled">
                        <li><h4 class="font-weight-bold">商品金額</h4></li>
                        <li><h4 class="font-weight-bold">運費(滿590免運)</h4></li>
                        <li><h4 class="font-weight-bold text-primary">折扣</h4></li>
                        <li><h4 class="font-weight-bold">訂單總額</h4></li>
                    </ul>
                </td>
                <td scope="col">
                    <ul class="list-unstyled">
                        <li><h4 id="price" class="font-weight-bold">$8,640</h4></li>
                        <li><h4 id="delieve" class="font-weight-bold">$0</h4></li>
                        <li><h4 id="discount" class="font-weight-bold text-primary">-$0</h4></li>
                        <li><h4 id ="total_price" class="font-weight-bold">$8,640</h4></li>
                    </ul>
                </td>
            </tr>
        </tbody>
        }
    </table>
    <div style="margin-top: 150px;">
        <h1>Gogoro 車友最愛</h1>
        <div class="d-flex flex-row">
            <div class="card m-5 " style="width: 21rem;">
                <img class="card-img-top"
                     src="//images.gogoroapp.com/store/upload/product/turbine_frame_slider_medium.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h3>渦輪造型防倒塊 - FASS</h3>
                    <h4>$4,280</h4>

                </div>
            </div>
            <div class="card m-5 " style="width: 21rem;">
                <img class="card-img-top"
                     src="//images.gogoroapp.com/store/upload/product/turbine_frame_slider_medium.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h3>渦輪造型防倒塊 - FASS</h3>
                    <h4>$4,280</h4>

                </div>
            </div>
            <div class="card m-5 " style="width: 21rem;">
                <img class="card-img-top"
                     src="//images.gogoroapp.com/store/upload/product/turbine_frame_slider_medium.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h3>渦輪造型防倒塊 - FASS</h3>
                    <h4>$4,280</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var a = document.getElementById("member");
    var b = a.getElementsByTagName("option");
    b[@int.Parse(ShoppingList[4])-1].selected = true;
    document.getElementById("price").innerHTML = "$@ShoppingList[2].ToString()";
    document.getElementById("total_price").innerHTML = "$@ShoppingList[2].ToString()";
    function bbc()
    {    
        $(".form-horizontal").submit();
    }
</script>
