
@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <style>
        .series-list-container {
            height: 150px;
            /*background-color: #323237;*/
            background-color: #888;
        }

            .series-list-container ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                background-color: #888;
            }

            .series-list-container li {
                list-style: none;
                padding: 0 80px;
                margin-top:40px;
            }

                .series-list-container li a {
                    color: #444;
                }

                    .series-list-container li a:hover {
                        text-decoration: none;
                    }

        svg {
            display: block;
            position: relative;
            line-height: 100px;
        }

        .card-container {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            font-size: 16px;
        }

            .card-container a:hover {
                text-decoration: none;
            }

            .card-container .card {
                padding: 0 5px;
                color: #000;
            }

        .card-text {
            text-align: center;
        }

            .card-text .gc-blod {
                font-weight: 700;
            }

        .card-container-2 {
            display: flex;
        }
    </style>
}

<div class="series-list-container">
    <ul class="warp">
        <li><svg data-v-28f15424="" style="margin:auto;" xmlns="http://www.w3.org/2000/svg"  width ="64" height="64" viewBox="0 0 64 64"><defs data-v-28f15424=""><linearGradient data-v-28f15424="" id="s-icon-gradient" x1="100%" x2="0%" y1="0%" y2="100%"><stop data-v-28f15424="" offset="0%" stop-color="#FF1C41"></stop><stop data-v-28f15424="" offset="100%" stop-color="#802984"></stop></linearGradient></defs><path data-v-28f15424="" fill="url(#s-icon-gradient)" fill-rule="nonzero" d="M25.95 27.22h-8.616a9.151 9.151 0 0 1-6.557-2.741 9.55 9.55 0 0 1-2.756-6.704 9.54 9.54 0 0 1 2.71-6.728c1.755-1.803 4.09-2.8 6.572-2.81l20.837-.005L39.516 6l-22.22.012c-3.066.011-5.948 1.243-8.113 3.467a11.782 11.782 0 0 0-3.342 8.304c.023 6.45 5.177 11.668 11.497 11.668h8.612c8.174 0 14.842 6.752 14.869 15.094.015 4.047-1.518 7.862-4.319 10.743-2.805 2.877-6.53 4.472-10.497 4.488H1.369L0 62h26.01c9.406-.035 17.028-7.87 16.99-17.462-.031-9.57-7.677-17.319-17.05-17.319m-8.87 7.568h8.625c2.475 0 4.805.962 6.567 2.744a9.509 9.509 0 0 1 2.76 6.706 9.508 9.508 0 0 1-2.71 6.723c-1.758 1.806-4.095 2.803-6.583 2.812H4.798L3.428 56l22.32-.003c3.07-.013 5.956-1.244 8.124-3.47a11.747 11.747 0 0 0 3.343-8.299 11.76 11.76 0 0 0-3.404-8.276 11.347 11.347 0 0 0-8.118-3.398h-.042l-8.517.004h-.054c-8.187 0-14.865-6.751-14.896-15.098-.012-4.046 1.523-7.858 4.33-10.74 2.805-2.876 6.54-4.472 10.512-4.487l24.603-.004L43 0 17.019.008C7.599.043-.034 7.878 0 17.468c.034 9.57 7.692 17.319 17.08 17.319" transform="translate(11 1)"></path></svg><span style="font-size:12px;">S performance</span></li>
        <li>3</li>
        <li>2</li>
        <li>1</li>
    </ul>
</div>

<div class="card-container">
    <a href="#">
        <div class="card" style="">
            <img src="~/Assets/images/Motopage/S1.png" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Gogoro <span class="gc-blod">S1</span></p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="card" style="">
            <img src="~/Assets/images/Motopage/S2.png" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Gogoro <span class="gc-blod">S2</span></p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="card" style="">
            <img src="~/Assets/images/Motopage/S2 Adventure.png" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Gogoro <span class="gc-blod">S2 </span>Adventure</p>
            </div>
        </div>
    </a>
</div>
<div class="container card-container">
    <a href="#">
        <div class="card" style="">
            <img src="~/Assets/images/Motopage/S1.png" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Gogoro <span class="gc-blod">S2</span>Café Racer</p>
            </div>
        </div>
    </a>
</div> 