<div style="padding:10px 0;">
    <div class="container">
        <div style="display:flex; justify-content:space-between;">
            <div>
                <strong>
                    <span class="ggg" style="color: #838388;">Gogoro S1</span>
                </strong>
            </div>
            <div>
                <ul class="abc" style="display:flex; justify-content:space-between; list-style:none; margin:0; padding:0;">
                    <li class=""><a class="ab" onclick="a()" href="">性能</a></li>
                    <li>@Html.ActionLink("設計", "design", "MotoPage", null, new { @onclick = "b()", @class = "ab" })</li>
                    <li>@Html.ActionLink("規格", "spec", "MotoPage", null, new { @onclick = "c()", @class = "ab" })</li>
                    <li class=""><a class="cd" style="color:#fff; padding:0 20px;border-radius:10px; background: linear-gradient(80deg, #832D89 0%, #E82A4C 80%, #E82A4C 100%);" href="https://store.gogoro.com/tw/scooter?model=my20gs"><strong>打造愛車</strong></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
