
@{
    ViewBag.Title = "S1_3";
}

<link href="~/Assets/css/MotoPage/S1.css" rel="stylesheet" />

<main id="ggr_main_container" class="a" onclick="a()">
    <div style="padding:10px 0;">
        <div class="container">
            <div style="display:flex; justify-content:space-between;">
                <div>
                    <strong>
                        <span class="ggg" style="color: #838388;">Gogoro S1</span>
                    </strong>
                </div>
                <div>
                    <ul class="abc" style="display:flex; justify-content:space-between; list-style:none; margin:0; padding:0;">
                        <li class=""><a class="ab" onclick="a()" href="">性能</a></li>
                        <li>@Html.ActionLink("設計", "design", "MotoPage", null, new { @onclick = "b()", @class = "ab" })</li>
                        <li>@Html.ActionLink("規格", "spec", "MotoPage", null, new { @onclick = "c()", @class = "ab" })</li>
                        <li class=""><a class="cd" style="color:#fff; padding:0 20px;border-radius:10px; background: linear-gradient(80deg, #832D89 0%, #E82A4C 80%, #E82A4C 100%);" href="https://store.gogoro.com/tw/scooter?model=my20gs"><strong>打造愛車</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="gs-spec-header-section" style="height:800px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="padding:0 18px;">
                    <div class="" style="margin-top:70px; font-size:45px; color:#ddd;">主要數據</div>
                </div>
                <div class="col-lg-3">
                    <div class="gs-spec-intro-badges text-xs-left text-lg-right">
                        <div class="gs-spec-intro-badge" style="width:auto;margin: 50px 0;color: #535357;">
                            <div class="gs-spec-intro-badge__text">
                                KW<br>馬達<br>輸出
                            </div>
                        </div>
                        <div class="gs-spec-intro-badge text-lg-right " style="width:auto;margin: 50px 0;color: #535357;">
                            <div class="gs-spec-intro-badge__text">
                                SEC<br>0-50 KM/H<br>直線加速
                            </div>
                        </div>
                        <div class="gs-spec-intro-badge text-xs-right text-lg-right hidden-md-down" style="width:auto;margin: 50px 0;color: #535357;">
                            <div class="gs-spec-intro-badge__text">
                                Nm<br>輪上扭力
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div>
            <div class="flb-bar-placeholder"></div><div class="flb-bar flb-bar--hide flb-bar--s">
                <div class="gc-container">
                    <div class="flb-container">
                        <button class="flb-close"></button><div class="flb-content">
                            即刻入手 Gogoro 全系列，享六個月電池服務資費0元起
                        </div><div class="flb-actions"><a href="https://promotion.gogoro.com/tw/sp-six-month299/" target="_blank" class="flb-cta">了解更多</a><a href="/tw/book-a-ride/?model=gogoro-2-plus" target="_blank" class="flb-cta">預約試騎</a></div>
                    </div>
                </div>
            </div>
        </div>*@


    <!-- Appearance -->
    <section class="gs-spec-section gs-spec-appearance-section" style="margin-top:-200px;">
        <div class="gs-spec-appearance-container container">
            <h2 class="gs-spec-description-headline" style="">外觀造型</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">車色選擇</div>
                            石墨灰
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">車架顏色</div>
                            銀河黑
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">前搖臂 / 後搖臂顏色</div>
                            銀河黑
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">鋁合金輪圈顏色</div>
                            極致黑
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">龍頭功能按鈕</div>
                            消光黑，電子式微動開關，具 LED 背光
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">儀表板</div>
                            全彩背光無邊界儀表板
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">側腳架</div>
                            鋁合金鍛造內嵌式側腳架
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">後座腳踏</div>
                            鋁合金鍛造內嵌式飛旋踏板
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">側腳架 / 後座腳踏顏色</div>
                            深鈦灰
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            快速更換個性化面板
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            自動回復隱藏式掛勾(最大掛載2kg)
                        </li>

                    </ul>

                </div>
                <div class="col-lg-4 gs-spec-appearance-bg"></div>
            </div>
        </div>
    </section>

    <!-- Upgrades -->
    <section class="gs-spec-section gs-spec-upgrades-section">
        <div class="gs-spec-upgrades-container container">
            <h2 class="gs-spec-description-headline">升級配備</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            燻黑造型風鏡
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            轉向輔助照地燈 (燻黑)
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            輔助剎車燈 (燻黑)
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            置物箱小燈及 USB 充電插孔
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            Snap-on 快拆配件系統 (深鈦灰)
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            S 系列一體成型鋁合金踏墊（深鈦灰）
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>


    <!-- Dimension -->
    <section class="gs-spec-section gs-spec-dimension-section">
        <div class="gs-spec-dimension-container container">
            <h2 class="gs-spec-description-headline">尺寸規格</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">長 x 寬 x 高</div>
                            1,730 x 690 x 1,035 mm
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">軸距</div>
                            1,230 mm
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">重量</div>
                            94 kg
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">重量(含兩顆電池)</div>
                            112 kg
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">置物空間</div>
                            24.5 L
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>


    <!-- Performance -->
    <section class="gs-spec-section gs-spec-performance-section">
        <div class="gs-spec-performance-container container">
            <h2 class="gs-spec-description-headline">性能表現</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">最大功率</div>
                            @*7,200W @ 5,000 rpm*@
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">最大馬力</div>
                            @*9.65hp @ 5,000 rpm*@
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">最大扭力 (馬達/輪上)</div>
                            @*27/202Nm @ 0-2,250 rpm*@
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">安全極速*</div>
                            95 km/h
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">0~50km/h 直線加速*</div>
                            3.7 秒
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">爬坡能力*</div>
                            30% (17°): 40 km/h<br>20% (11°): 50 km/h<br>10% (6°): 70 km/h

                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">傾角 (不含中駐架)</div>
                            左：45 度<br>右：48.5 度

                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">單次換電可續航里程 * (定速 30 km/h)</div>
                            約 125 km
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </section>




    <!-- Drivetrain -->
    <section class="gs-spec-section gs-spec-drivetrain-section">
        <div class="gs-spec-drivetrain-container container">
            <h2 class="gs-spec-description-headline">動力系統</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">油門控制</div>
                            Saferide™線傳電子油門
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">倒車控制</div>
                            線傳電子倒車油門
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">動力模式</div>
                            智慧模式 / 標準模式 / 競速模式
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">電池連接埠</div>
                            全方向性電池連接埠
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">馬達</div>
                            G1-S 鋁合金水冷永磁同步馬達
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">馬達控制器</div>
                            MOSFET 水冷馬達控制器
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">散熱系統</div>
                            直通式內導流氣道水冷系統
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">減速機構</div>
                            整合式行星齒輪組
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">傳動方式</div>
                            Gates 高張力碳纖維複合皮帶
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4 gs-spec-drivetrain-bg"></div>
            </div>
        </div>
    </section>



    <!-- Construction -->
    <section class="gs-spec-section gs-spec-construction-section">
        <div class="gs-spec-construction-container container">
            <h2 class="gs-spec-description-headline">車體結構</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">車架</div>
                            Aeroframe™鋁合金單體車架
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">前懸吊系統</div>
                            鋁合金單臂軸心式倒叉，阻尼可調
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">後懸吊系統</div>
                            鋁合金多連桿
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">後避震器</div>
                            無段式預載可調，阻尼可調
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">煞車系統</div>
                            油壓碟煞
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">煞車油管</div>
                            金屬
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">卡鉗型式</div>
                            前：對向四活塞<br>後：浮動單活塞

                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">碟盤規格</div>
                            前：226 mm 打孔碟<br>後：162 mm 打孔碟

                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">輪胎規格</div>
                            前：100/60-12 (45L)<br>後：110/60-12 (49L)

                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">原廠配備輪胎</div>
                            前：Maxxis M6237 SPORT 性能胎<br>後：Maxxis M6237 雙能複合胎 (節能＋性能)

                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">智慧感測器</div>
                            重力及加速度感測器<br>環境亮度感測器<br>溫度感測器

                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </section>




    <!-- User Interface -->
    <section class="gs-spec-section gs-spec-user-interface-section">
        <div class="gs-spec-user-interface-container container">
            <h2 class="gs-spec-description-headline">使用者介面</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">解鎖及上鎖</div>
                            iQ System® 智慧鑰匙卡 / 智慧型手機 / Apple Watch
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">無線通訊方式</div>
                            NFC 及藍牙 4.0，256 位元加密技術
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">置物箱開啟方式</div>
                            車上按鍵 / iQ System® 智慧鑰匙卡 / 智慧型手機 / Apple Watch
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">智慧型手機 APP 支援系統</div>
                            iOS 及 Android
                        </li>

                    </ul>

                </div>


            </div>
        </div>
    </section>



    <!-- Safety -->
    <section class="gs-spec-section gs-spec-safety-section">
        <div class="gs-spec-safety-container container">
            <h2 class="gs-spec-description-headline">安全配備</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">前大燈</div>
                            SmartBrite® LED可調式頭燈，含光環式定位燈
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">前方向燈</div>
                            LED 方向燈
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">
                            <div class="gs-spec-small-heading">尾燈組</div>
                            LED 燈組，含煞車燈、後方向燈、環抱式定位燈
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            雙閃警示燈
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                </div>


            </div>
        </div>
    </section>



    <!-- iQ System -->
    <section class="gs-spec-section gs-spec-iq-system-section">
        <div class="gs-spec-iq-system-container container">
            <h2 class="gs-spec-description-headline">iQ System™ 智慧功能</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            動態動力曲線
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            全時點燈
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            光感應儀表板亮度調節
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            頭燈亮度自動調節
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            過彎感應方向燈
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            低電量緩行模式
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            GoStation® 及 App 異常回報與故障通知
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            側腳架自動斷電功能
                        </li>

                    </ul>

                </div>


            </div>
        </div>
    </section>




    <!-- Personalization -->
    <section class="gs-spec-section gs-spec-personalization-section">
        <div class="gs-spec-personalization-container container" style="padding-bottom:50px; border-bottom:1px solid #2E2E34;">
            <h2 class="gs-spec-description-headline">個人化設定</h2>

            <div class="row">
                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            超速 / 低速提示音
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            電能回充強度
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            自動上鎖時間
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            頭燈延遲熄滅
                        </li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            儀表板背光色彩可調<br>129,600 色

                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            音效及燈光主題
                        </li>

                    </ul>

                    <ul class="gs-specs-list">

                        <li class="gs-specs-list__item">

                            LED 定位燈模式
                        </li>

                    </ul>

                </div>


            </div>
        </div>
    </section>


    <section class="gs-spec-section gs-spec-sosumi-section" style="margin-top:20px;">
        <div class="container" style="color:#4F4F53">

            <p>* 於晴朗微風之情況下，Gogoro以整車重量（含騎士1人及2顆滿電狀態Gogoro®電池）在175公斤以下，胎壓設定為Gogoro出廠設定值之Gogoro S1，行駛於平面柏油道路上，以進行下列測試：</p>
            <ul>
                <li>安全極速與加速能力之測試情境：開啟競速模式，並使用性能提升服務，行駛於無車輛且目測係坡度為零度之平面柏油道路。</li>
                <li>爬坡能力之測試情境：除行駛道路之坡度分別為 10%（6 度）、20%（11 度）及 30%（17度）外，其餘測試情境同上。</li>
                <li>單次換電續航里程之測試情境：以時速 40 公里連續行駛於無車輛且目測係坡度為零度之平面柏油道路至電力用罄。</li>
            </ul>
            <p>* 本表僅供參考，Gogoro保留隨時對車款及產品出售與否或對其內容記載變更之權利，不另行告知。任何於本網站所提及之效能數據、測試結果或騎乘距離等，均可能因其他因素之影響而造成結果有所差異。</p>
            <p>* 規格配備以實車為準。</p>

        </div>
    </section>



    <section class="gs-section-buy text-xs-center" style="border-bottom:2px solid #CE2B5C;">
        <div class="container">
            <div class="gs-buy-s-icon center-block"></div>
            <div class="gs-buy-text">
                <span class="gs-buy-text-title">前往 Gogoro 門市賞車</span>

            </div>
            <a href="/tw/findus/?filter=010" class="gs-buy-btn">搜尋門市</a>
        </div>
    </section>

    <div class="gs-gradient-ine"></div>

</main>




    


@*<div style="padding:10px 0;">
        <div class="container">
            <div style="display:flex; justify-content:space-between;">
                <div>
                    <strong>
                        <span class="ggg" style="color: #838388;">Gogoro S1</span>
                    </strong>
                </div>
                <div>
                    <ul class="abc" style="display:flex; justify-content:space-between; list-style:none; margin:0; padding:0;">
                        <li class=""><a class="ab" href="">性能</a></li>
                        <li class=""><a class="ab" href="">設計</a></li>
                        <li class=""><a class="ab" href="">規格</a></li>
                        <li class=""><a class="cd"   style="color:#fff; padding:0 20px;border-radius:10px; background: linear-gradient(80deg, #832D89 0%, #E82A4C 80%, #E82A4C 100%);" href="https://store.gogoro.com/tw/scooter?model=my20gs"><strong>打造愛車</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="gs-hero__banner flex items-end">
        <div class="gs-hero__bg"></div>
        <div class="gs-hero__s"></div>
        <div class="gs-hero__scooter"></div>
    </div>

    <div class="gs-hero__text flex items-center justify-center">
        <div>
            <div class="container">
                <h2 class="gs-hero__title" style="width:600px;color: #fff; margin:auto;">疾速耀眼</h2>

                <div class="gs-hero__subtitle text-xs-center gs-content-max-width center-block"style="width:600px;color: #fff;">
                    無數細節只為實現你對極致性能的渴望。快如閃電、流暢滑順、靈活敏捷，騎乘的五感驚豔，從此躍入全新里程碑。
                </div>
            </div>
        </div>
    </div>

    <section class="gs-section-intro-badges">
        <svg class="gs-intro-badges-defs">
            <defs>
                <linearGradient id="gs-intro-badge-linear-gradient" x1="141.062" y1="0.938" x2="34.938" y2="107.062" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#ff1c41"></stop>
                    <stop offset="1" stop-color="#802984"></stop>
                </linearGradient>
            </defs>
        </svg>

        <div class="gs-intro-badges-container">
            <div class="js-intro-badges slick-initialized slick-slider gs-intro-badge-active-2">

                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; display:flex; justify-content:center; transform: translate3d(0px, 0px, 0px);" role="listbox">
                        <div class="gs-intro-badge text-xs-center slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10">
                            <div class="gs-intro-badge-inner-wrap flex flex-column justify-center">
                                <div class="gs-intro-badge__name">瞬間加速</div>
                                <div class="gs-intro-badge__number">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="134" height="108" viewBox="0 0 134 108">
                                        <path fill="url(#gs-intro-badge-linear-gradient)" class="gs-intro-badge__number-path" d="M25.745,107.063c15.84,0,26.5-11.808,26.5-28.656,0-13.824-7.056-24.767-19.3-26.783V51.192c12.24-2.88,16.848-15.12,16.848-25.92,0-12.1-6.624-24.336-24.48-24.336C10.625,0.937,1.7,9,1.7,22.681v4.9h4.32v-5.04c0-12.96,8.784-17.712,18.72-17.712,9.5,0,20.592,4.9,20.592,21.744,0,14.832-8.5,23.184-20.16,23.184H15.521v4.176h9.648c9.216,0,22.463,4.9,22.463,24.192,0,15.408-8.208,24.912-21.888,24.912-10.512,0-20.592-5.472-20.592-16.848V80.136H0.546V85.9C0.546,96.263,7.745,107.063,25.745,107.063Zm40.031-1.584h4.608V92.951H65.776v12.528Zm33.263,0h4.32c-0.144-29.087,7.776-76.462,30.1-99.646V2.809H83.919V6.841h43.92C115.023,20.521,99.039,57.96,99.039,105.479Z"></path>
                                    </svg>
                                    <span class="gs-intro-badge__subscript inline-block">
                                        秒<br>0-50 KM/H*
                                    </span>
                                </div>
                            </div>
                        </div><div class="gs-intro-badge text-xs-center slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11">
                            <div class="gs-intro-badge-inner-wrap flex flex-column justify-center">
                                <div class="gs-intro-badge__name">馬達輸出</div>
                                <div class="gs-intro-badge__number">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="108" x="0px" y="0px" viewBox="0 0 120 108" style="enable-background:new 0 0 120 108;" xml:space="preserve">
                                    <path fill="url(#gs-intro-badge-linear-gradient)" class="gs-intro-badge__number-path" d="M18.2,106.2h4.3c-0.1-29.1,7.8-76.5,30.1-99.6v-3H3v4H47C34.2,21.2,18.2,58.7,18.2,106.2z M51.4,93.7H56v12.5
              h-4.6V93.7z M69.3,103l18-24.3c13.5-17,21.9-33.1,21.9-51v-1.6C109,14.6,103.6,5.8,90.6,5.8c-10.9,0-18.4,7.1-18.4,17.3v5.8H68v-5.3
              c0-14,10.1-21.9,23.2-21.9c15,0,22.6,9.8,22.6,25.1c0,21.2-8.9,36.7-22.9,54.6l-15.4,20.4v0.3H117v4.2H69.3V103z"></path>
            </svg>
                                    <span class="gs-intro-badge__subscript inline-block">
                                        kW @<br>5,000 RPM

                                    </span>
                                </div>
                            </div>
                        </div><div class="gs-intro-badge text-xs-center slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12">
                            <div class="gs-intro-badge-inner-wrap flex flex-column justify-center">
                                <div class="gs-intro-badge__name">強勁扭力</div>
                                <div class="gs-intro-badge__number">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="176" height="108" viewBox="0 0 176 108">
                                        <path fill="url(#gs-intro-badge-linear-gradient)" class="gs-intro-badge__number-path" d="M2.25,105.479H49.913V101.3H8.442v-0.288L23.85,80.568c13.968-17.856,22.9-33.407,22.9-54.575,0-15.264-7.632-25.055-22.607-25.055-13.1,0-23.184,7.92-23.184,21.888v5.328H5.13v-5.76c0-10.224,7.488-17.28,18.432-17.28,12.96,0,18.432,8.784,18.576,20.3V27c0,17.856-8.352,33.983-21.888,50.975l-18,24.336v3.168Zm85.966,1.584c14.976,0,26.783-8.64,26.783-24.912V25.417c0-15.7-11.231-24.48-26.639-24.48-14.688,0-27.215,8.784-27.215,24.768V82.152C61.144,97.991,72.52,107.063,88.216,107.063Zm0.144-4.032c-14.256,0-22.608-8.784-22.608-20.88v-56.3c0-12.528,8.208-21.024,22.464-21.024s22.175,9.072,22.175,20.592V81.864C110.391,94.247,102.9,103.031,88.36,103.031Zm39.023,2.448h47.663V101.3H133.575v-0.288l15.407-20.448c13.968-17.856,22.9-33.407,22.9-54.575,0-15.264-7.632-25.055-22.608-25.055-13.1,0-23.183,7.92-23.183,21.888v5.328h4.176v-5.76c0-10.224,7.488-17.28,18.431-17.28,12.96,0,18.432,8.784,18.576,20.3V27c0,17.856-8.352,33.983-21.888,50.975l-18,24.336v3.168Z"></path>
                                    </svg>
                                    <span class="gs-intro-badge__subscript inline-block">
                                        Nm<br>輪上扭力

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
@section endJS {
    <script>
        function a() {
            $(".a").removeClass("hidden");
            $(".b").addClass("hidden");
        }
        function b() {
            $(".a").addClass("hidden");
            $(".b").removeClass("hidden");
        }
    </script>
}