@{
    ViewBag.Title = "確認電子郵件";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        感謝您的申請請按下此 @Html.ActionLink("連結", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
