@using MotorcycleTW.Models
@model LoginViewModel
@{
    ViewBag.Title = "會員資料";
}
<link href="~/Asset/css/MemberInfomation.css" rel="stylesheet" />

<div class="header text-center">
    <div class="figure">
        <div class="inner">
            <div class="picture">
                <a ng-click="toggleModal();$event.preventDefault()" href="#" class="photo-edit-link"><img class="" src="//images.gogoroapp.com/my-gogoro/photo-edit-camera.png" alt="編輯我的照片"></a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

