
@{
    ViewBag.Title = "solopage";
}


<div id="showBlock">

    <img src="http://images.gogoroapp.com/store/scooter/canvas/g2/25/1126/g2dl-a3-handle-stdgold.png" alt=""
         style="position:absolute;top:0px;left:0px;">
    <img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-base.png" alt=""
         style="position:absolute;top:0px;left:0px;">
    <!-- <img src="http://images.gogoroapp.com/store/scooter/canvas/g2/25/1126/g2dl-a3-base.png" alt=""
        style="position:absolute;top:0px;left:0px;">
        <img src="http://images.gogoroapp.com/store/scooter/canvas/g2/25/1126/g2dl-a3-frontwheel-stdgold.png" alt=""
        style="position:absolute;top:0px;left:0px;"> -->




</div>
<div id="carbody">

    <img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-body-stdblue.png" alt=""
         style="position:absolute;top:0px;left:0px;">
    <img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-frontwheel-stdblue.png" alt=""
         style="position:absolute;top:0px;left:0px;">
</div>
<div id="gorgo">
</div>
<div id="vl">

</div>
<div id="bigg">

</div>
<div id="truegun">

</div>
<div id="backhend">
    <img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/g2dl-a3-rearrack-std.png" alt=""
         style="position:absolute;top:0px;left:0px;">
</div>
<div id="tp">

</div>
<div id="htz">
    <img src="http://images.gogoroapp.com/store/scooter/canvas/g2/25/1126/g2dl-a3-backwheel-std.png" alt=""
         style="position:absolute;top:0px;left:0px;">
</div>
<div style="position:absolute;bottom:10px;">

    <!--
    <button type="button" class="btn btn-primary" id="pg2">配件2</button>

    <button type="button" class="btn btn-primary" id="pg4">配件4</button>
    <button type="button" class="btn btn-primary" id="pg5">配件5</button>
    <button type="button" class="btn btn-primary" id="pg6">配件6</button>
    <button type="button" class="btn btn-primary" id="pg7">配件7</button>
    <button type="button" class="btn btn-primary" id="pg8">配件8</button>
    <button type="button" class="btn btn-primary" id="pg9">配件9</button>
    <button type="button" class="btn btn-primary" id="pg10">配件10</button>
    <button type="button" class="btn btn-primary" id="pg11">配件11</button>
    <button type="button" class="btn btn-primary" id="pg12">配件12</button>
    <button type="button" class="btn btn-primary" id="pg13">配件13</button> -->



</div>
<div class="card" style="height: 550px; width: 30rem;position:absolute;top:0px;left:1000px;">
    <div class="card-header">
        9/30 前 Gogoro 2 系列和 S2 (限19年式)加碼贈鑰匙皮套 (說明)
        8/31 前購車，全系列送六個月電池資費0元起 (說明)
        扣除雲林縣汰購政府補助款 $31,000

        <br><br>
        <button type="button" class="btn btn-primary rounded-circle m-2" id="blue">&nbsp&nbsp&nbsp</button>
        <button type="button" class="btn btn-warning rounded-circle m-2" id="yellow">&nbsp&nbsp&nbsp</button>
        <button type="button" class="btn btn-danger rounded-circle m-2" id="red">&nbsp&nbsp&nbsp</button>
        <button type="button" class="btn btn-light border border-dark rounded-circle m-2" id="white">&nbsp&nbsp&nbsp</button>
        <button type="button" class="btn btn-dark rounded-circle m-2" id="dark">&nbsp&nbsp&nbsp</button>

    </div>
    <ul class="list-group list-group-flush" style="overflow :auto;">

        <li class="d-flex flex-row my-2" id="pg2">
            <img src="//images.gogoroapp.com/store/upload/product/irack_medium.jpg" alt="" style="width: 130px;"
                 class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">I 型置物架 (銀)</h5>
                <h5 class="my-auto ml-3">$1,490</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg4">
            <img src="//images.gogoroapp.com/store/upload/product/container_set_medium.jpg" alt=""
                 style="width: 130px;" class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    杯架組
                </h5>
                <h5 class="my-auto ml-3">$1,190</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg5">
            <img src="//images.gogoroapp.com/store/upload/product/g2_frack_medium.jpg" alt="" style="width: 130px;"
                 class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    前置物架 V2
                </h5>
                <h5 class="my-auto ml-3">$3,480</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg6">
            <img src="//images.gogoroapp.com/store/upload/product/g2_front_bar_medium.jpg" alt=""
                 style="width: 130px;" class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    前造型桿
                </h5>
                <h5 class="my-auto ml-3">$3,980</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg7">
            <img src="//images.gogoroapp.com/store/upload/product/g2_seat_extender_black_medium.jpg" alt=""
                 style="width: 130px;" class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    加長後扶手
                </h5>
                <h5 class="my-auto ml-3">$1,890</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg8">
            <img src="//images.gogoroapp.com/store/upload/product/g2_rear_rack_medium.jpg" alt=""
                 style="width: 130px;" class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    後置物架
                </h5>
                <h5 class="my-auto ml-3">$2,980</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg9">
            <img src="

//images.gogoroapp.com/store/upload/product/g2_side_faceplate_rack_l_medium.jpg" alt="" style="width: 130px;"
                 class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    側面板造型架
                </h5>
                <h5 class="my-auto ml-3">$2,490</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg10">
            <img src="//images.gogoroapp.com/store/upload/product/floor_mat_medium.jpg" alt="" style="width: 130px;"
                 class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    S PERFORMANCE 鋁合金踏墊 V2
                </h5>
                <h5 class="my-auto ml-3">$3,490</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg11">
            <img src="
                    //images.gogoroapp.com/store/upload/product/floor_pad_medium.jpg" alt="" style="width: 130px;"
                 class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    一體成型鋁合金踏墊 V2
                </h5>
                <h5 class="my-auto ml-3">$3,390</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg12">
            <img src="//images.gogoroapp.com/store/upload/product/floor_mat_medium.jpg" alt="" style="width: 130px;"
                 class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    同心圓防滑踏墊 V2
                </h5>
                <h5 class="my-auto ml-3">$1,490</h5>
            </div>
        </li>
        <li class="d-flex flex-row my-2" id="pg13">
            <img src="//images.gogoroapp.com/store/upload/product/g2_s_al_rr_fender_s_performance_medium.jpg" alt=""
                 style="width: 130px;" class="rounded-circle   ">
            <div class="d-flex flex-column ">
                <h5 class="my-auto ml-3">
                    S PERFORMANCE 鋁合金後土除 (鈦灰)
                </h5>
                <h5 class="my-auto ml-3">$2,990</h5>
            </div>
        </li>

</div>
<script>

        $("#blue").click(function () {
            $("#carbody").empty();
            $("#carbody").append('<div id="bluegorgo">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-frontwheel-stdblue.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>'+
                '<div id="bluegorgo2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-body-stdblue.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#yellow").click(function () {
            $("#carbody").empty();
            $("#carbody").append('<div id="yellowgorgo">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-body-stdyellow.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>'+
                '<div id="yellowgorgo2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-frontwheel-stdyellow.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#red").click(function () {
            $("#carbody").empty();
            $("#carbody").append('<div id="redgorgo">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-body-stdred.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>'+
                '<div id="redgorgo2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-frontwheel-stdred.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#white").click(function () {
            $("#carbody").empty();
            $("#carbody").append('<div id="whitegorgo">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-body-stdwhite.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>'+
                '<div id="whitegorgo2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-frontwheel-stdwhite.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#dark").click(function () {
            $("#carbody").empty();
            $("#carbody").append('<div id="darkgorgo">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-body-stdmidnight.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>'+
                '<div id="darkgorgo2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/27/1126/my20gp2-a3-frontwheel-stdmidnight.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });

        $("#pg2").click(function () {
            $("#gorgo").empty();
            $("#gorgo").append('<div id="gorgo2">' +
                '<img src="http://images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-rack-i.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');


        });

        $("#pg4").click(function () {
            $("#gorgo").empty();
            $("#gorgo").append('<div id="gorgo4">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-cupholder.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg5").click(function () {
            $("#vl").empty();
            $("#vl").append('<div id="vl-1">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-frontrack-pink.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg6").click(function () {
            $("#bigg").empty();
            $("#bigg").append('<div id="bigg-1">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-frontbar.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg7").click(function () {
            $("#backhend").empty();
            $("#backhend").append('<div id="backhend-2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-rearrack-advextended.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg8").click(function () {
            $("#backhend").empty();
            $("#backhend").append('<div id="backhend-3">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-rearrack-advback.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg9").click(function () {
            $("#truegun").empty();
            $("#truegun").append('<div id="truegun-1">' +
                '<img src="http://images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-siderack-pink.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg10").click(function () {
            $("#tp").empty();
            $("#tp").append('<div id="tp-1">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-floor-padti.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg11").click(function () {
            $("#tp").empty();
            $("#tp").append('<div id="tp-2">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-floor-pad.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg12").click(function () {
            $("#tp").empty();
            $("#tp").append('<div id="tp-3">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/z-a3-floor-mat.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });
        $("#pg13").click(function () {
            $("#htz").empty();
            $("#htz").append('<div id="htz-1">' +
                '<img src="//images.gogoroapp.com/store/scooter/canvas/g2/25/1126/g2dl-a3-backwheel-adv.png"' +
                'style="position:absolute;top:0px;left:0px;">' +
                '</div>');
        });


</script>